{% extends "base.html.twig" %}

{% block content %}
    <form action="editar" method="POST">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <td>id</td>
                    <td>Montante Inicial</td>
                    <td>Aporte Inicial</td>
                    <td>Juros Anual</td>
                    <td>Acrescimo Anual</td>
                    <td>Renda Passiva</td>
                    <td>Tempo para liberdade</td>
                    <td>Montante Final</td>
                    <td>Valor aportado</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for item in data.content %}   
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.montanteInicial|number_format(2, '.', ',')}}</td>
                    <td>{{item.aporteMensal|number_format(2, '.', ',')}}</td>
                    <td>{{item.jurosAnual|number_format(2, '.', ',')}}%</td>
                    <td>{{item.acrescimoAnual|number_format(2, '.', ',')}}%</td>
                    <td>{{item.rendaPassiva|number_format(2, '.', ',')}}</td>
                    <td>{{item.tempoParaRenda}}</td>
                    <td>{{item.montanteFinal|number_format(2, '.', ',')}}</td>
                    <td>{{item.valorAportado|number_format(2, '.', ',')}}</td>
                    <td><button class="btn btn-info" value="{{item.id}}" name="idLinha" >Editar</button></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </form>

   
{% endblock %}